@model WebStore.Models.EmployeeView
@{
    ViewBag.Title = "Details";
}

<h4>Детальная информация сотрудника @Model.FirstName @Model.LastName </h4>

<p>Имя: @Model.FirstName</p>
<p>Отчество: @Model.Patronymic</p>
<p>Фамилия: @Model.LastName</p>
<p>Возраст: @Model.Age</p>
<p>Должность: @Model.Position</p>

@Html.ActionLink("Назад к списку сотрудников", "Index")